# Ignore any IntelliJ project files.
/.idea
/*.iml

# Ignore any personal SAS autoexec for testing samples.
samples/autoexec.sas

# SAS logs and output
**/*.log
**/*.lst

# Ignore any scratch notes and dir.
/scratch.txt
/scratch

# Ignore various temporary files.
**/*.swp
